@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i&display=swap');

//$primary: hsl(262, 100%, 80%);
$family-sans-serif: "Rubik", sans-serif;

@import "~bulma";
@import "~bulma-extensions";

.sm-column {
    max-width: 40rem;
    line-height: 1.5;
    margin: 0 auto;
}

// This makes columns take up all of the vertical space
.column {
    display: flex;
}
