@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik:ital,wght@0,400;0,700;1,400&family=Ubuntu+Mono&display=swap');

$bright-blue: hsl(191, 100%, 45%);
$dark-blue: hsl(209, 72%, 21%);

$primary: $dark-blue;
$link: $bright-blue;
$link-hover: $dark-blue;
$family-sans-serif: "Rubik", sans-serif;
$title-family: "Merriweather", serif;

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-pro/webfonts";

@import "~bulma";
@import "~bulma-extensions";
@import "~bulma-block-list/src/block-list";

@import "~@fortawesome/fontawesome-pro/scss/fontawesome";
@import "~@fortawesome/fontawesome-pro/scss/brands";
@import "~@fortawesome/fontawesome-pro/scss/regular";

// Adds a bit of pizazz. Setting $title-color to $dark-blue doesn't change hero headers
h2 {
    color: $dark-blue !important;
}

// To center the Instagram post - style prop isn't an option
.has-margin-auto iframe {
    margin: 0 auto 3rem !important;
}

p.is-tight-desktop {
    line-height: 1.5;
}

.is-tight-desktop {
    max-width: 40rem;
    margin: 0 auto;
}

@media(max-width: 1024px) {
    .has-mobile-padding {
        padding: 0 1rem;
    }
}
